.root {
  margin-top: 50px;
}

.container {
  padding: 10px;
  border: black 1px solid;
  display: flex;
  align-items: baseline;
}

.item {
  cursor: pointer;
  margin-right: 10px;
  padding: 10px;
  border: black 1px solid;
}

.item > span {
  vertical-align: middle;
}

.add-button {
  position: relative;
}

/* Dirty workarounds to make visible create buttons on hover. LOL */
.add-button:hover .creator {
  visibility: visible;
}

.creator :hover {
  visibility: visible;
}

.creator {
  background-color: white;

  position: absolute;
  display: flex;
  visibility: hidden;
  width: 150px;

  top: -50px;
  z-index: 100000;
  left: 0px;
  transition: ease 0.5s all;
}

/* colors definition */
.color-orange {
  background-color: orange;
}

.color-green {
  background-color: green;
}

.color-red {
  background-color: red;
}
